<div class="banner">
  <div class="banner-content">
    <h1>Best Cocktails in London!</h1>
    <h3>See our cocktail recipe collections or create your  own recipes</h3>
    <h3>Shake and pour</h3>
  </div>
</div>
