<%= render "banner" %>

  <div class="container-fluid">
    <div class="row">
      <% if @cocktails.count >= 1 %>
        <% @cocktails.each do |cocktail| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
              <%= link_to cl_image_tag(cocktail.photo, height: 300, width: 450), cocktail_path(cocktail)%>
              <div class="card-img-overlay">
              <div class="card-name text-center">
                <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
