.banner {
  color: white;
  text-align: center;
  height: 50vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('https://unsplash.com/photos/sJOy9pveFbU');
}
.banner h1 {
  font-size: 60px;
  font-weight: bold;
  color: rgb(16, 178, 37);
  text-shadow: 0px 1px rgba(0, 0, 0, 0.4);
}
.banner h3 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(16, 178, 37);
  opacity: 0.8;
  margin-bottom: 30px;
}
